body,
html {
  font-family: Manrope;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .-rotate-child-90 > *:first-child {
    @apply origin-center;
    --tw-rotate: -90deg;
    transform: var(--tw-transform);
  }

  .-rotate-child-180 > *:first-child {
    @apply origin-center;
    --tw-rotate: -180deg;
    transform: var(--tw-transform);
  }

  .origin-center-child > *:first-child {
    @apply origin-center;
  }

  .transition-transform-child > *:first-child {
    @apply transition-transform;
  }
}
